[submodule "src/SLOTH"]
	path = src/SLOTH
	url = https://icg4geo.icg.kfa-juelich.de/SoftwareTools/SLOTH.git
[submodule "src/TSMP"]
	path = src/TSMP
	url = https://github.com/HPSCTerrSys/TSMP.git
[submodule "geo/TSMP_EU11"]
	path = geo/TSMP_EU11
	url = https://icg4geo.icg.kfa-juelich.de/Configurations/TSMP_statfiles_IBG3/TSMP_EU11.git
