[submodule "src/TSMP"]
	path = src/TSMP
	url = https://github.com/HPSCTerrSys/TSMP.git
[submodule "geo/TSMP_EUR-11"]
	path = geo/TSMP_EUR-11
	url = https://gitlab.jsc.fz-juelich.de/detect/detect_z03_z04/constant_fields/TSMP_EUR-11.git
[submodule "ctrl/namelists/MainRun"]
	path = ctrl/namelists/MainRun
	url = https://icg4geo.icg.kfa-juelich.de/Configurations/TSMP_namelists/TSMP_EUR-11_eval.git
